<web-app version="5.0"
         xmlns="https://jakarta.ee/xml/ns/jakartaee">
    <servlet>
        <servlet-name>rest.JabRefAPI</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>rest.JabRefAPI</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
